.wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

.blocks {
  display: flex;
  align-items: center;
}

svg {
  width: 36px;
}

.title {
  width: 151px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
