.note-label {
  width: 37px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.74;
  margin-top: 24px;
  margin-bottom: 9px;
}

.textarea {
  width: 550px;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px 5px 5px 13px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 25px;
}

.btn-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.prefix{
  display: flex;
  position: absolute;
  left: 36px;
}

::ng-deep .add-template-style span {
  color: #135353 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .add-template-style button {
  width: 226px !important;
  background-color: rgba(233, 236, 239, 1) !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  box-shadow: none !important;
  align-items: center !important;
  letter-spacing: 1.25px;
  text-transform: uppercase !important;
  flex: none;
  order: 1;
  flex-grow: 0;
}

::ng-deep .save-style button {
  width: 80px !important;
  background-color: rgba(3, 218, 197, 1) !important;
  box-shadow: none !important;
}

::ng-deep .cancel-style button {
  width: 120px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: none !important;
  border: 1px solid rgba(233, 236, 239, 1) !important;
}

.my-custom-button {
  background-color: red;
  color: white;
}
.save-flexbox{
  display: flex;
}
.custom-button-style1 {
  width: 150px;
  background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
