.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.input-with-unit-wrapper{
  position: relative;
}
.input{
  width: 106px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px 5px 5px 13px;
  box-sizing: border-box;
}

.outline {
  position: absolute;
  left: 30%;
  right: 52%;
  top: 24.32%;
  bottom: 72.9%;
  background: rgba(0, 0, 0, 0.12);
}

.subtract {
  position: absolute;
  width: 108px;
  height: 36px;
  left: 180px;
  top: 315px;
  background: #dadada;
}

.border {
  position: absolute;
  width: 108px;
  height: 36px;
  left: calc(50% - 108px / 2 - 66px);
  top: 315px;
  background: #6200ee;
}

.label {
  position: absolute;
  width: 99px;
  height: 0.64px;
  left: calc(50% - 99px / 2 - 66px);
  top: 315px;
  background: #6200ee;
}

.surface {
  position: absolute;
  width: 106px;
  height: 34px;
  left: calc(50% - 106px / 2 - 66px);
  top: 316px;
  background: #ffffff;
}

.text-input {
  position: absolute;
  width: 35px;
  height: 24px;
  left: calc(50% - 35px / 2 - 90.5px);
  top: 321px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000000;
}

.text-input::placeholder {
  color: #000000;
}

.line {
  position: absolute;
  width: 34px;
  height: 0px;
  left: calc(50% - 34px / 2 - 43px);
  top: 16px;
  border: 1px solid #e0e0e0;
  transform: rotate(90deg);
}

.text-input:focus + .line {
  border-color: #6200ee;
}

.text-input:focus {
  outline: none;
}

.text-input:disabled {
  opacity: 0.6;
}
